.resume-tab {
    display: flex;
    color: azure;
    column-gap: 1rem;
    margin: 24px 0;
    font-size: min(4vw, 22px); 
    line-height: 1.5;
    align-items: left;
}

.resume-tab-date{
    min-width: 10vw;
}

.resume-tab-section{
    display: flex;
    flex-direction: column;
    max-width: 50vw;   
}

.resume-tab-subtitle{
    font-weight: bold;
    font-size: min(4vw, 22px);
    font-style: italic;
}

// @media screen and (max-width: 760px) { 
//     .resume-tab {
//         flex-wrap: wrap;
        // flex-direction: column;
        // column-gap: 0;
//     }
// }