.front-page {
    display: flex;
    // background: linear-gradient(rgb(37, 61, 84) 0%, rgb(95, 182, 209) 100%);
}

.front-page-img {
    max-width: 100%;
    width: auto;
    height: 100%;
}

.front-page-title {
    text-align: left;
    margin: 24px 48px;
    color: azure;
    // color:rgb(23, 69, 69);
}

.front-page-text {
    line-height: 1.5;
    font-size: min(4vw, 22px); 
    text-align:justify;
    margin: 24px 48px;
    color: azure;
}

.contact-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 760px) { 
   .front-page {
    flex-wrap: wrap;
    justify-content: center;
   }

   .front-page-img {
    width: auto;
    height: 70vw;
   }
}