.experience-section {
    // background: linear-gradient(rgb(95, 182, 209) 10%, rgb(105, 69, 155) 100%);
    display: flex;
    column-gap: 20vw;
    padding-top: 3rem;
}

.experience-section-label {
    margin-left: 25px;
    margin-right: 25px;
    text-align:left;
    color: azure;
}

@media screen and (max-width: 760px) { 
    .experience-section {
     flex-wrap: wrap;
     justify-content: center;
    }
}