.section-header {
    margin: 24px 48px 0px;
}

.rates-list {
    line-height: 1.5;
    font-size: min(4vw, 21px);
    margin: 24px 48px;
    list-style-type: none; 
}

.google-form {
    text-align:center;
    max-width: 100%;
}