* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
  background: linear-gradient(rgb(37, 61, 84) 10%, rgb(95, 182, 209) 100%);
}